<ul>
    <li><a href='/collections'>Mes collections</a></li>
    <li><a href='/locations'>Mes lieux</a></li>
    <li><a href='/mangas'>Mes mangas</a></li>
</ul>

<form action="/locations/add/" method="post">
    Que dois-je faire ? <input type="text" name="location" id="textInput" autofocus>
    <button type="submit" id="validate">Valider</button>
</form>